.filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 700px;
  align-items: end;
}

.advcanced-filters {
  display: flex;
  flex-wrap: wrap;
}

.advcanced-filters p {
  color: #9b9b9b;
  font-weight: 600;
}

.advcanced-filters {
  display: flex;
  flex-direction: column;
}


.advcanced-filters>div:first-child {
  display: flex;
  flex-direction: row;
}

.advcanced-filters p {
  padding-top: 2px;
}

.advcanced-filters label {
  margin: 4px;
  font-weight: 300;
}


.advcanced-filters-radio {
  display: flex;
  flex-direction: row;

}