.workspace {
  display: flex;
  justify-content: space-between;
}

.workspace-primary {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

.dashboard {
  margin-left: 100px;
}

.dashboard-title {
  color: #9b9b9b;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.cards {
  display: flex;
  margin-bottom: 30px;
}

.card-primary {
  border: 0.5px solid #dddcdc;
  border-radius: 5px;
  height: 250px;
  margin-right: 20px;
  width: 300px;
}

.card-primary:hover {
  border: 0.5px solid #4f4d4d;
}

.card-secundary {
  width: 280px;
  border: 1px solid #dddcdc;
  height: 121px;
  border-radius: 0;
  align-items: center;
}

.card-secundary h5 {
  text-transform: uppercase;
  color: #4f4d4d;
  font-weight: 500;
  text-align: center;
  font-size: medium;
  margin-top: 40px;
}

.card-secundary p {
  text-transform: uppercase;
  color: #9b9b9b;
  font-weight: 300;
  text-align: center;
  font-size: small;
}

.card-primary p {
  text-transform: uppercase;
  color: #4f4d4d;
  font-weight: 500;
  text-align: center;
  font-size: medium;
}

.card-secundary:hover {
  border: 0.5px solid #4f4d4d;
}


.notice {
  margin-left: 80px;
  margin-right: 100px;
  margin-top: 15px;
}

.notice-title {
  color: #9b9b9b;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.workspace-secundary {
  background-color: #eeeeee;
  min-height: 100vh;
  max-width: 100%;
  width: 500px;
  padding-left: 70px;
  height: 100%;
}

.workspace-calendar {
  margin-bottom: 10px;
  padding-top: 15px;
  padding-left: 0px;
}

.informations p {
  font-weight: 500;
  font-size: small;
  color: #4f4d4d
}

.informations span {
  font-weight: 300;
  font-size: small;
  color: #4f4d4d
}