.times {
  background-color: #eee7e7;
  width: 500px;
  border-radius: 2px;
  box-shadow: 5px 2px 2px rgb(230, 225, 225);
  display: flex;
  margin-bottom: 8px;
  height: 60px;
}

.time {
  margin: 1px 5px;
  font-size: x-large;
  color: #928f8f;
  padding-top: 8px;
}

.time-body {
  display: flex;
  margin: 2px 10px;
  padding-top: 5px;
  border-radius: 5px;
  width: 500px;

}

.time-card {
  border-radius: 100%;
  background-color: #dddcdc;
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

.time-icons {
  display: flex;
  align-items: end;
  padding-bottom: 2px;
}

.time-icon {
  width: 25px;
  height: 20px;
  color: #928f8f
}