* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100vh;
  background-color: #eeeeee;
  margin: 0 auto;
}

.header {
  background-color: #f6f4f4;
  min-height: 10vh;
  padding-top: 10px;
  padding-left: 30px;
}

.body {
  min-height: 100vh;
}

.navBar {
  background-color: #f6f4f4;
  padding-top: 10px;
}